@model Examen_ToolsForEver.Models.ApplicationUser

@{

}

<div class="row">

    <div class="col-md-8">
        <h1 class="h1">Bewerk gebruiker: @Model.UserName</h1>
    </div>
    <div class="col-md-4">
        <a asp-action="DeleteUser">Verwijder gebruiker</a>
    </div>

    <div class="col-md-12">

        <form asp-action="UpdateUser" method="post" class="form-horizontal">
            <div class="form-group">
                <input asp-for="@Model.UserName" value="@Model.UserName" class="form-control" />
                <span asp-validation-for="@Model.UserName"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.PasswordHash" placeholder="reset wachtwoord" class="form-control" />
                <span asp-validation-for="@Model.PasswordHash"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Bewerk gebruiker" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>